@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    // background: #1c1e22;
  }
}
